extends ./layout.pug
block content
    h1 USER
    //- form(action="/users/search",method="GET")
    //-     input(type="text",placeholder="nhập user cần tìm",name="q")
    //-     button Search

    table.table
        tr 
            th Name
            th Phone
            th
        each t of title
            tr 
            td= t
            td= phone



    a.btn.btn-danger(href="../") back